<div>
    <h1>HOW TO ORDER</h1>
    <section>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png">
            <span>
                Pick your<br>noodle
            </span>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png">
            <span>
                Pick your <br> broth
            </span>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png">
            <span>
                Add our <br> toppings
            </span>

        </div>
    </section>
</div>