div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 128px;
  height: 128px;
}

h1 {
  font-size: 80px;
  font-family: raleway;
  color: red;
  margin-top: 120px;
  margin-bottom: 64px;
  
}

span{
  font-family: economica;
  font-size: 56px;
}

section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 120px;
}